<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/styles/style.css"/>
</head>
<body>
    <div class="wrapper">
        <nav class="nav">
            <div class="nav-logo">
                <p><%= head %></p>
            </div>
            <div class="nav-menu" id="navMenu">
                <ul>
                    <li><a href="#" class="link active">Home</a></li>
                    <li><a href="#" class="link">About</a></li>
                    <li><a href="#" class="link">Help</a></li>
                </ul>
            </div>
            <!-- <div class="nav-button">
                <button class="btn white-btn" id="loginBtn" onclick="login()">Sign In</button>
                <button class="btn" id="registerBtn" onclick="register()">Sign Up</button>
            </div> -->
            <div class="nav-menu-btn">
                <i class="bx bx-menu" onclick="myMenuFunction()"></i>
            </div>
        </nav>
        <section>
            <div class="user_detail">
            <form action="/auth" method="post" id="login">
                <h1>Login</h1>
                <div class="inputbox">
                    <ion-icon name="mail-outline"></ion-icon>
                    <input type="email" name="email" required>
                    <div class="label">
                        <i class="bx bx-user"></i>
                        <label for="">Email</label>
                    </div>
                </div>
                <div class="inputbox">
                    <ion-icon name="lock-closed-outline"></ion-icon>
                    <input type="password" name="pass" id="pass" required>
                    <div class="label">
                        <i class="bx bx-lock-alt"></i>
                        <label for="">Password</label>
                    </div>
                </div>
                <div class="forget">
                    <a href="/reset">Forget Password</a>
                </div>
                <button type="submit">Log in</button>
                <div class="register">
                    <p>Don't have an account?&nbsp;<a href="/register">Register</a></p>
                </div>
            </form>
            </div>
        </section>
    </div>
    <script>
   
        function myMenuFunction() {
         var i = document.getElementById("navMenu");
     
         if(i.className === "nav-menu") {
             i.className += " responsive";
         } else {
             i.className = "nav-menu";
         }
        }

        window.addEventListener('pageshow', (event) => {
            if(event.persisted) {
                document.getElementById('login').reset();
            }
        });

     </script>
</body>
</html>