@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    /* background-image: url(https://user-images.githubusercontent.com/13468728/233847739-219cb494-c265-4554-820a-bd3424c59065.jpg); */
    background-image: url(/img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
}

.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    /* min-height: 100vh; */
    /* background: rgba(39, 39, 39, 0.4); */
}

.nav{
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100px;
    line-height: 100px;
    background: linear-gradient(rgba(39,39,39, 0.6), transparent);
    z-index: 100;
}
.nav-logo p{
    color: white;
    font-size: 25px;
    font-weight: 600;
}
.nav-menu ul{
    display: flex;
}
.nav-menu ul li{
    list-style-type: none;
}
.nav-menu ul li .link{
    text-decoration: none;
    font-weight: 500;
    color: #fff;
    padding-bottom: 15px;
    margin: 0 25px;
}
.link:hover, .active{
    border-bottom: 2px solid #fff;
}
.nav-button .btn{
    width: 130px;
    height: 40px;
    font-weight: 500;
    background: rgba(255, 255, 255, 0.4);
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: .3s ease;
}
.btn:hover{
    background: rgba(255, 255, 255, 0.3);
}
#registerBtn{
    margin-left: 15px;
}
.btn.white-btn{
    background: rgba(255, 255, 255, 0.7);
}
.btn.btn.white-btn:hover{
    background: rgba(255, 255, 255, 0.5);
}
.nav-menu-btn{
    display: none;
}

section {
    top: 50px;
    position: relative;
    width: 450px;
    height: 75vh;
    background-color: rgba(1, 1, 1, 0.2);
    border: 2px solid rgba(255, 255, 255, 0.468);
    border-radius: 20px;
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 3rem;
    overflow: hidden;
    z-index: 2;
}

.user_detail{
    position: absolute;
    left: 25px;
    width: 400px;
    display: flex;
    flex-direction: column;
    transition: .5s ease-in-out;
}
.user_role{
    position: absolute;
    right: -450px;
    width: 400px;
    display: flex;
    flex-direction: column;
    transition: .5s ease-in-out;
}

h1 {
    font-size: 2rem;
    color: #fff;
    text-align: center;
}

.inputbox {
    position: relative;
    margin: 30px 0;
    /* max-width: 310px; */
    border-bottom: 2px solid #fff;
}

.inputbox .label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #fff;
    font-size: 1rem;
    pointer-events: none;
    transition: all 0.5s ease-in-out;
}

input:focus ~ .label, 
input:valid ~ .label,
select:focus ~ .label,
select:valid ~ .label {
    top: -5px;
}

input[type="email"]:invalid:not(:focus){
    color: transparent;
    text-indent: 100%;
    transition: all 0.5s ease-in-out;
}

input[type="email"]:focus{
    transition: all 0.5s ease-in-out;
}

.inputbox input,
.inputbox select  {
    width: 100%;
    height: 60px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
    padding: 0 5px 0 5px;
    color: #fff;
    appearance: none;
}

/* .inputbox select {
    background-position: calc(100% - 10px) center, calc(100% - 20px) center;
    background-repeat: no-repeat, no-repeat;
    background-size: 10px 10px, 10px 10px;
    cursor: pointer;
} */

.inputbox select option {
    color: black;
}

.inputbox ion-icon {
    position: absolute;
    right: 8px;
    color: #fff;
    font-size: 1.2rem;
    top: 20px;
}

.forget {
    margin: 35px 0;
    font-size: 0.85rem;
    color: #fff;
    text-align: right;
}

.forget a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.forget a:hover {
    text-decoration: underline;
}

button {
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background-color: rgb(255, 255, 255, 1);
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    transition: all 0.4s ease;
}

button:hover {
    background-color: rgb(255, 255, 255, 0.5);
}

.register {
    font-size: 0.9rem;
    color: #fff;
    text-align: center;
    margin: 25px 0 10px;
}

.register p a, .register a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}

.register p a:hover, .register a:hover {
    text-decoration: underline;
}

@media only screen and (max-width: 1064px){
    body{
        padding: 10px;
    }
    .nav-logo p{
        color: white;
        font-size: 20px;
        font-weight: 600;
    }
    .nav-button{
        display: none;
    }
    .nav-menu.responsive{
        top: 100px;
    }
    .nav-menu{
        position: absolute;
        top: -800px;
        display: flex;
        justify-content: center;
        background: rgba(255, 255, 255, 0.2);
        width: 100%;
        height: 90vh;
        backdrop-filter: blur(20px);
        transition: .3s;
    }
    .nav-menu ul{
        flex-direction: column;
        text-align: center;
    }
    .nav-menu-btn{
        display: block;
    }
    .nav-menu-btn i{
        font-size: 25px;
        color: #fff;
        padding: 10px;
        background: rgba(255, 255, 255, 0.2);
        border-radius: 50%;
        cursor: pointer;
        transition: .3s;
    }
    .nav-menu-btn i:hover{
        background: rgba(255, 255, 255, 0.15);
    }
}

@media only screen and (max-width: 560px){
    section{
        top: 0px;
        width: 330px;
    }
    .user_detail {
        width: 280px;
    }
    .user_role {
        width: 280px;
    }
}